extends layout

block content
	h1= title

	form(action='add-activity', method='POST')
		label(for='txtTitle') Title: 
		input.title(type='text')#txtTitle
		br
		label(for='txtDescription') Description:
		br
		textarea(rows='15', cols='74')
		br
		table.activities
			tr
				th Title
				th Est. Lower
				th Est. Upper
			tr
				td= 'Zero'
				td.time
					input(type='radio', name='estLower', value='0')
				td.time
					input(type='radio', name='estUpper', value='0')
			each activity in activities
				tr
					td= activity.title
					td.time
						input(type='radio', name='estLower', value=activity.timeActual)
					td.time
						input(type='radio', name='estUpper', value=activity.timeActual)
			tr
				td= 'Infinity'
				td.time
					input(type='radio', name='estLower', value='-1')
				td.time
					input(type='radio', name='estUpper', value='-1')
		br
		input(type='submit')