extends layout

block content
  h1= title
  table.activities
    tr
      th Title
      th Est. Lower
      th Est. Upper
      th Actual
    each activity in activities
      tr
        td= activity.title
        td.time= activity.timeEstimate.lower
        if (activity.timeEstimate.upper == -1)
          td.time!= "&#8734;"
        else
          td.time= activity.timeEstimate.upper
        td.time= activity.timeActual
  br
  a(href='view-add-activity') Add Activity