body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.activities {
	width: 500px;
}

.activities .time {
	text-align: center;
}

.title {
	width: 500px;
}